
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 80px;
    background-color: #1e90ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover{
    text-decoration: underline;
}


#home{
    height: 100vh;
    background: #0a2040;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 80px; 
}

#home h1{
    font-size: 3rem;
}

#home button{
    padding: 12px 28px;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
}
#home button:hover{
    background-color: #0c6ad4;
}

/* CURSOS */
#cursos{
    min-height: 100vh;
    padding: 100px 40px;
    background: #f5f5f5;
}

#cursos h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.curso-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    background: #fff;
    border: 2px solid #ddd;
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}

/* SOBRE */
#sobre{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf3ff;
    padding: 50px;
}

.card-sobre{
    position: relative;
    background: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.selo{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #1e90ff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}
